{% load static %}

<header>
    <div class="container">
        <div class="header-content">
            <a href="{% url 'index' %}" class="logo">Цветочная <span>лавка</span></a>
            
            <button class="nav-toggle" id="navToggle">
                <i class="fas fa-bars"></i>
            </button>
            
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'catalog' %}">Каталог</a></li>
                    <li><a href="{% url 'about' %}">О нас</a></li>
                    <li><a href="{% url 'delivery' %}">Доставка</a></li>
                    <li><a href="{% url 'contacts' %}">Контакты</a></li>
                    <li>
                        <a href="{% url 'cart_detail' %}" class="cart-icon">
                            <i class="fas fa-shopping-cart"></i>
                            {% with cart=request.session.cart %}
                                <span class="cart-count">{{ request.session.cart_items_count|default:0 }}</span>
                            {% endwith %}
                        </a>
                    </li>
                    {% comment %} <li><a href="{% url 'account' %}"><i class="fas fa-user"></i></a></li> {% endcomment %}
                </ul>
            </nav>
        </div>
        
        <!-- Mobile Menu -->
        <div class="mobile-menu" id="mobileMenu">
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'catalog' %}">Каталог</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'delivery' %}">Доставка</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                <li><a href="{% url 'cart_detail' %}">Корзина (<span class="">{{ request.session.cart_items_count|default:0 }}</span>)</a></li>
                {% comment %} <li><a href="{% url 'account' %}">Личный кабинет</a></li> {% endcomment %}
            </ul>
        </div>
    </div>
</header>